
.navbar-brand {
    padding-left: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
}

.nav-item {
 
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
/*

h2 {
    padding: 20px;
   
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgrey;
    background-color: white;

}

body {
    background-image: url("mekong-green.png");
}

.sizing {
    position: relative;
    top: 30px;
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategray; 

}

.about-me {
    padding: 20px;
}

#about-image {
    width: 250px;
    height: 350px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: darkcyan;
    width: 100%;
    height: 60px;
}

.copyright-footer {
    text-align: center;
    padding-top: 20px;
}

.projects {
    border-style: solid;
    border-width: 2px;
    border-color: darkcyan;
    max-width: 300px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    margin-bottom: 80px;
}

input {
    width: 900px;
}

textarea {
    width: 900px;
    min-height: 200px;
}

.submit {
    margin-bottom: 20px;
}
*/

body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* Visual */
  
  }
  html {
    /* Positioning */
    position: relative;
    /* Box-model */
    min-height: 100%;
  }
  body {
      background-image: url("mekong-green.png");
  }
  /* add space for fixed nav */
  main {
    margin: 80px 0;
  }
  .image {
      float: left;
      margin-right: 20px;
      width: 250px;
      height: 350px;
  }
  .footer {
    
      position: absolute;
      bottom: 0;
      text-align: center;
      background-color: darkcyan;
      /* Box-model */
      width: 100%;
      height: 60px;
  }
  
  .sizing {
    padding: 30px;  
  
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color:darkgrey; 
  }

  .projects {
    border-style: solid;
    border-width: 2px;
    border-color: darkcyan;
    max-width: 300px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.button1 {
    background-color: darkcyan;
    margin: 0 auto;
   position: relative;
   left: -30px;
   bottom: -70px;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 295px;
}

.button2 {
    background-color: darkcyan;
    margin: 0 auto;
   position: relative;
   left: -30px;
   bottom: -70px;
   padding-top: 20px;
   padding-bottom: 20px;
   width: 295px;
}
  
.coming-soon {
    margin: 0 auto;
    
}

form {
    width: 100%;
    margin: 0 auto;
    
}
input {
    padding-right: 700px;
    width: 100%;
}

textarea {
   padding-right: 700px;
   width: 100%;
   resize: vertical;
}

